 
.customers-container {
  width: 90%;
  margin: 0 auto;
  padding: 20px;
  background-color: #eeeeee; /* Light gray background to match */
  border-radius: 16px;
  box-shadow: 0 8px 24px rgba(0, 0, 0, 0.1);
}

.customers-table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
  background-color: #ffffff; /* White background for the table */
  border-radius: 12px;
  overflow: hidden;
}

.customers-table th,
.customers-table td {
  border: 1px solid #ddd;
  padding: 10px;
  text-align: center;
  font-family: 'Roboto', sans-serif;
}

.customers-table th {
  background-color: #ff7e55; /* Light orange color for headers */
  color: #ffffff; /* White text color */
  font-weight: bold;
}

.customers-table tr:nth-child(even) {
  background-color: #f9f9f9; /* Light gray for alternate rows */
}

.customers-table tr:hover {
  background-color: #f5c1b2; /* Light orange on hover */
  color: #ffffff; /* White text on hover */
  transition: background-color 0.3s ease;
}

.customers-heading {
  text-align: center;
  margin-bottom: 20px;
  font-size: 24px;
  color: #553f37; /* Dark brown color for heading */
  font-family: 'Poppins', sans-serif;
}

/* Style for buttons */
.customers-table button {
  background-color: #ff7e55; /* Light orange */
  color: white;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
  border-radius: 3px;
  transition: background-color 0.3s ease;
}

.customers-table button:hover {
  background-color: #e97c5b; /* Darker orange on hover */
}


